@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER 
/*
0      -  599px:    Phone
600px  -  899px:    Tablet portrait
900px  - 1199px:    Tablet landscape
1200px - 1799px:    Desktop - default
1800px+        :    Desktop - big screen

$breakpoint argumnet:
- phone
- tab-p
- tab-l
- big-s

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 9.584em) { @content }; // 599px
    }
    @if $breakpoint == tab-p {
        @media (max-width: 56.1875em) { @content }; // 899px
    }
    @if $breakpoint == tab-l {
        @media (max-width: 74.9375em) { @content }; // 1199px
    }
    @if $breakpoint == big-s {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}
