.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 1002;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        &:hover {
            cursor: pointer;
        }
        &:hover .navigation__icon::before { top: -1rem }
        &:hover .navigation__icon::after { top: 1rem }
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        -webkit-transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1001;
        opacity: 0;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__list {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            transition: .5s all;
            background-size: 220%;
            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        &:hover {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }
    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }
    &__icon {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-dark-gray-3;
            display: inline-block;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before { top: -.8rem }
        &::after { top: .8rem }
    }
    &__checkbox:checked~&__button>&__icon {
        background-color: $color-white;
    }
    &__checkbox:checked~&__button>&__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked~&__button>&__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}