*,
*::after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines 1rem, by default 10px (62,5% of 16px)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}