.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, 
                                        rgba($color-primary-light, 0.8), 
                                        rgba($color-primary-dark, 0.8)), 
                                        url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    // add angle (skew) whole section
    transform: skewY(-7deg);
    // skew child elemets to right angle again
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    margin-top: -10rem;
    padding: 25rem 0 15rem 0;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}